

/* Condensed */

@font-face {

font-family: 'League Gothic Condensed';

src: url('leaguegothic-condensed-regular-webfont.eot');

src: url('leaguegothic-condensed-regular-webfont.woff') format('woff'),

url('leaguegothic-condensed-regular-webfont.ttf') format('truetype'),

url('leaguegothic-condensed-regular-webfont.svg#LeagueGothicCondensed') format('svg');

}